Package: libdeepinscan1-dbgsym
Source: deepinscan
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: DeepinScan Team <deepinscan@deepin.org>
Installed-Size: 2125
Depends: libdeepinscan1 (= 1.0.0-1)
Breaks: deepinscan-dbg (<< 1.0.0)
Replaces: deepinscan-dbg (<< 1.0.0)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libdeepinscan1
Build-Ids: ef5a3fd8e84bdc54fb525c9a850e696494bc0038
